.header{
    border: 1px solid #000000;
    background: #1E3A8A;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) 1x;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    width: auto;
    height: auto;
}

.title{
    color: #ffffff;
    text-align: center;
    font-family:'Lexend Peta', sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    -webkit-font-smoothing: antialiased;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.75);
    box-sizing: content-box 0,25px;
}
.logo{
    width: 50px;
    height: 41px;
    flex-shrink: 0;
}
.logo:hover{
    width: 49px;
    height: 40 px;
    flex-shrink: 0;
}

